# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Build outputs
# ======================
dist/
build/
web-build/
android/app/build/
ios/build/

# ======================
# Logs
# ======================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# OS / Editor
# ======================
.DS_Store
.idea/
.vscode/
*.iml
*.swp
*.tmp
*.bak
*.code-workspace

# ======================
# Environment variables
# ======================
.env
.env.*
.env.local
.env.*.local

# ======================
# Expo
# ======================
.expo/
.expo-shared/
.expo-cache/
.expo-logs/
.expo-dev-client/

# Expo generated
expo-env.d.ts

# ======================
# React Native
# ======================
android/.gradle/
android/local.properties
ios/Pods/
ios/Podfile.lock

# ======================
# Coverage / Tests
# ======================
coverage/

# ======================
# Misc
# ======================
*.tgz
